*{
    margin:0px;
    padding:0px;
}

body{
    font-family: "Segoe UI","Myriad Pro", Helvetica, Arial, sans-serif;
    font-size: 14px;
    background: #efefef;
    line-height: 20px;
}
.box{
	width:510px;
	height:400px;
}

.center{
    text-align: center;
}

#wrapper{
    width: 980px;
    height: 100%;
    overflow-y : hidden;
    margin: 0 auto;
    background: #fefefe;
    -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
}

#header{
    padding: 16px;
    border-bottom: 2px solid #007297;
    font-size: 18px;
    background: #fff;
    -webkit-box-shadow: 0 5px 10px #aaa;
       -moz-box-shadow: 0 5px 10px #aaa;
            box-shadow: 0 5px 10px #aaa;
}

#logoheader{
    display: block;
    width: 274px;
    overflow: hidden;
}

.splitbox{
    width:480px;
    background:#fff;
}

#subwrapper{
	background: #FFFFFF;
	position:relative;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.left{
    float:left;
}

.right{
    float:right;
    border-left: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    display: block;
    height: 1px;
    border: 0;
}

#videoID{
    height: 200px;
    width: 400px;
}

.fullwidth{
    width: 100%;
}

.logo {
    opacity: 1 !important;
    max-width: 100%;
}

input{
    padding: 14px;
    font-size: 16px;
    margin: 4px;
    height : 30px;
}

.textbox {
    width: 100%;
    padding: 15px;
    margin: 8px;
}

.actionbutton{
	padding:15px;
	clear:both;
	border:#eee solid 1px;
	margin:8px;
}

.actionbutton:hover{
	background:#eee;
}

ul{
	list-style:none;
}

#finalstatus{
	position:absolute;
	bottom:0px;
	padding:15px;
	background:#ff0000;
	color:#fff;
	left:0px;
	right:0px;
	clear:both;
	text-align:center;
	
}

input[type=button] {height: 50px;background:#eee;}